@import 'tailwindcss';

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-dsblue: #5865f2;
    --color-triskyellow: #d6af3f;
    --color-triskgold: #d6af3f;
    --color-triskgreen: #0f3127;
    --color-colorsecundaro: #0f3127;
    --color-triskmint: #1f4f3e;
}

:root {
    --background: #ffffff;
    --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ededed;
        --foreground: #ededed;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
/* background: radial-gradient(circle, #FFFFFF, #e7e7e7); */
